<template>
  <section class="container">
    <h1>Edit {{ ballot.name }}</h1>

    <Alert v-show="ballot.isOpen" type="success" closable>Voting is open!
      <span slot="close" @click.prevent="closeVoting" >Close Voting</span>
    </Alert>
    <Alert v-show="!ballot.isOpen" type="error" closable>Voting is currently closed.
      <span slot="close" @click.prevent="openVoting">Open Voting</span>
    </Alert>


    <div v-if="canEditQuestions">
      <hr>
      <h3>Questions</h3>

      <div v-for="(question, i) in ballot.questions" :id="question.id">
        <question-edit v-bind:question="question" v-bind:canEdit="canEditQuestions"
                       v-bind:singleQuestion="ballot.singleQuestion"
                       v-on:removeQuestion="removeQuestion(question.id, i)">
        </question-edit>
      </div>

      <div v-if="canAddQuestion">
        <br>
        <Input v-model="newQuestion" @on-enter="addQuestion" type="text">
        <Button
          slot="append"
          icon="plus"
          @click.prevent="addQuestion"
          v-bind:disabled="newQuestion.trim().length === 0">
          Add New Question
        </Button>
        </Input>
        <br>
      </div>

    </div>

    <Card :bordered="false">
      <p slot="title">Sharing Links</p>
      <table>
        <tr>
          <td><a :href="shareUrl">Sharing URL</a></td>
          <td><Input v-model="shareUrl" type="text" id="shareTextArea"></Input></td>
          <td>
            <Button @click.prevent="copyShareUrl">Copy</Button>
            <span v-if="shareTextCopied" class="checkmark">✓ copied!</span>
          </td>
        </tr>
        <tr>
          <td><a :href="editUrl">Edit URL (this page)</a></td>
          <td><Input v-model="editUrl" type="text" id="editTextArea"></Input></td>
          <td>
            <Button @click.prevent="copyEditUrl">Copy</Button>
            <span v-if="editTextCopied" class="checkmark">✓ copied!</span>
          </td>
        </tr>
      </table>
    </Card>

    <br>

    <Card>
      <p slot="title">Results</p>
      <result v-bind:ballot="ballot"></result>
    </Card>


  </section>
</template>

<script>
  import axios from '~/plugins/axios'
  import moment from 'moment'
  import QuestionEdit from '~/components/QuestionEdit'
  import Result from '~/components/Result'
  import assign from 'lodash/assign'
  import { Button, Input, Card, Alert } from 'iview'

  export default {
    async asyncData ({params}) {
      let {data} = await axios.get('/api/ballots/' + params.id)
      return {
        ballot: data,
        closeType: data.closeDate ? 'date' : 'manual',
        openType: data.openDate ? 'date' : 'manual',
        shareUrl: process.env.baseUrl + '/ballots/' + data.uniqueId,
        editUrl: process.env.baseUrl + '/ballots/edit/' + data.editId
      }
    },
    components: {QuestionEdit, Result, Button, Input, Card, Alert},
    head () {
      return {
        title: 'Simple Vote | ' + this.ballot.name
      }
    },
    data: function () {
      return {
        newQuestion: '',
        editTextCopied: false,
        shareTextCopied: false,
        savingBallot: false
      }
    },
    methods: {
      addQuestion: async function () {
        if (this.newQuestion.trim() === '') return
        let {data} = await axios.post('/api/questions', {
          ballotId: this.ballot.id,
          description: this.newQuestion
        })
        this.ballot.questions.push(data)
        this.newQuestion = ''
      },
      removeQuestion: async function (questionId, index) {
        await axios.delete('/api/questions/' + questionId)
        this.ballot.questions.splice(index, 1)
      },
      copyShareUrl: function () {
        this.editTextCopied = false
        this.shareTextCopied = false
        document.querySelector('#shareTextArea > input').select()
        try {
          this.shareTextCopied = document.execCommand('copy')
        } catch (err) {
          console.log('Oops, unable to copy')
        }
      },
      copyEditUrl: function () {
        this.editTextCopied = false
        this.shareTextCopied = false
        document.querySelector('#editTextArea > input').select()
        try {
          this.editTextCopied = document.execCommand('copy')
        } catch (err) {
          console.log('Oops, unable to copy')
        }
      },
      openVoting: async function () {
        this.saveBallot({isOpen: true, isClosed: false})
      },
      closeVoting: async function () {
        this.saveBallot({isOpen: false, isClosed: true})
      },
      saveBallot: async function (updates) {
        this.savingBallot = true
        let putData = {}
        assign(putData, this.ballot, updates)
        let {data} = await axios.put('/api/ballots', putData)
        this.ballot = data
        this.savingBallot = false
      }
    },
    watch: {
      closeType: function (val) {
        if (val === 'manual') {
          this.ballot.closeDate = null
        } else if (val === 'date') {
          this.ballot.closeDate = moment().add(1, 'days').toISOString().split('.')[0]
        }
      },
      openType: function (val) {
        if (val === 'manual') {
          this.ballot.openDate = null
        } else if (val === 'date') {
          this.ballot.openDate = moment().toISOString().split('.')[0]
        }
      }
    },
    computed: {
      canAddQuestion: function () {
        return !this.ballot.singleQuestion && !this.ballot.isOpen
      },
      canEditQuestions: function () {
        return !this.ballot.isOpen && !this.ballot.isClosed
      }
    }
  }
</script>

<style>
  .checkmark {
    font-size: .9em;
    color: green;
  }
</style>
