<template>
  <section class="container">
    <h1>{{ ballot.name }}</h1>

    <hr>
    <br>

    <Alert type="error" v-show="errorMessages.length > 0" show-icon>
      <ul v-for="error in errorMessages">
        <li>{{ error }}</li>
      </ul>
    </Alert>

    <Alert type="success" v-if="submitSuccess" show-icon>
      Successfully submitted your answers
    </Alert>

    <div v-for="(question, i) in ballot.questions" :id="question.id">
      <br>
      <component v-bind:is="question.view" v-bind:question="question" v-bind:disabled="readOnly">
      </component>
    </div>

    <br>

    <Button
      @click.prevent="submitAnswers"
      v-bind:disabled="!canSubmit"
      v-if="!readOnly"
      type="primary"
      :loading="saving"
    >Submit
    </Button>

  </section>
</template>

<script>
  import axios from '~/plugins/axios'
  import every from 'lodash/every'
  import filter from 'lodash/filter'
  import find from 'lodash/find'
  import FPTPQuestion from '~/models/Questions/FPTPQuestion'
  import IRQuestion from '~/models/Questions/IRQuestion'
  import ApprovalQuestion from '~/models/Questions/ApprovalQuestion'
  import VoteType from '~/enum/VoteType'
  import { Button, Alert } from 'iview'

  export default {
    async asyncData ({params}) {
      let {data} = await axios.get('/api/ballots/' + params.id)
      data.questions = data.questions.map(q => {
        switch (data.voteType) {
          case VoteType.FPTP:
            return new FPTPQuestion(q)
          case VoteType.INSTANT_RUNOFF:
            return new IRQuestion(q)
          case VoteType.APPROVAL:
            return new ApprovalQuestion(q)
          case VoteType.CONDOCERT:
            return new IRQuestion(q)
        }
      })

      /*
      let Class = this.getQuestionModel(data.voteType)
      console.log(Class)
      console.log(new Class(data))
      data.questions.forEach(function (question) {
        question.valid = false
        question.answers.forEach(function (answer) {
          answer.selected = false
          answer.rank = null
        })
      })
      let views = {
        edit: {
          0: QuestionFptp,
          1: QuestionIR,
          2: QuestionApproval
        }
      }
      */

      return {
        ballot: data,
        readOnly: !data.isOpen,
        errorMessages: data.isOpen ? [] : data.isClosed ? ['Voting is closed'] : ['Voting has not yet opened']
      }
    },
    components: {Button, Alert},
    data: function () {
      return {
        submitSuccess: false,
        saving: false
      }
    },
    head () {
      return {
        title: 'Simple Vote | ' + this.ballot.name
      }
    },
    methods: {
      submitAnswers: function () {
        this.saving = true
        this.errorMessages = []
        let request = null
        if (this.ballot.voteType === 0) { // fptp
          request = this.submitFptpAnswers()
        } else if (this.ballot.voteType === 1) { // IR
          request = this.submitIrAnswers()
        } else if (this.ballot.voteType === 2) { // Approval
          request = this.submitApprovalAnswers()
        }

        request.then(response => {
          this.lockDownPage()
          this.submitSuccess = true
          this.saving = false
        }).catch(error => {
          this.lockDownPage()
          this.errorMessages.push(error.response.data)
          this.clearAnswers()
          this.saving = false
        })
      },
      submitIrAnswers: function () {
        return axios.post('/api/responses',
          this.ballot.questions.map(q => {
            return {
              ballotId: this.ballot.id,
              questionId: q.id,
              ranks: q.answers.reduce(function (sum, a) {
                sum[a.id] = a.rank
                return sum
              }, {}),
              sessionId: localStorage.getItem('sessionId'),
              voteType: this.ballot.voteType
            }
          })
        )
      },
      submitFptpAnswers: function () {
        return axios.post('/api/responses',
          this.ballot.questions.map(q => {
            return {
              ballotId: this.ballot.id,
              questionId: q.id,
              answerId: find(q.answers, q => q.selected).id,
              sessionId: localStorage.getItem('sessionId'),
              voteType: this.ballot.voteType
            }
          })
        )
      },
      submitApprovalAnswers: function () {
        return axios.post('/api/responses',
          this.ballot.questions.map(q => {
            return {
              ballotId: this.ballot.id,
              questionId: q.id,
              answers: filter(q.answers, q => q.selected).map(g => g.id),
              sessionId: localStorage.getItem('sessionId'),
              voteType: this.ballot.voteType
            }
          })
        )
      },
      lockDownPage: function () {
        this.readOnly = true
      },
      clearAnswers: function () {
        return this.ballot.questions.forEach(question =>
          question.answers.forEach(function (a) { a.selected = false })
        )
      }
    },
    computed: {
      canSubmit: function () {
        return every(this.ballot.questions, q => q.valid)
      },
      canViewResults: function () {
        return this.submitSuccess || this.readOnly
      }
    },
    watch: {}
  }
</script>

<style>
  span.question-description {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
  }

  ul.errors {
    color: red;
  }

  .success-message {
    color: green;
  }
</style>
