<template>
  <section class="container">
    <h1>Ballots</h1>
    <div v-for="ballot in ballots">
      <nuxt-link :to="{ name: 'ballots-id', params: { id: ballot.uniqueId } }">
        {{ ballot.name }}
      </nuxt-link>
      &nbsp;
      <nuxt-link :to="{ name: 'ballots-edit-id', params: { id: ballot.editId } }">
        (edit)
      </nuxt-link>
    </div>
  </section>
</template>

<script>
  import axios from '~/plugins/axios'

  export default {
    async asyncData ({params}) {
      let {data} = await axios.get('/api/ballots')
      return {ballots: data}
    },
    head () {
      return {
        title: 'Simple Vote | Ballots'
      }
    }
  }
</script>

<style>
</style>
