<template>
  <div class="question-approval">

    <Card :dis-hover="disabled">
      <p slot="title">{{ question.description }}</p>
      <Icon v-show="question.valid" slot="extra" type="checkmark" color="green"></Icon>
      <CheckboxGroup v-model="selectedAnswers" vertical>
        <template v-for="answer in question.answers" :id="answer.id">
          <div>
            <Checkbox :label="answer.id" :disabled="disabled" size="large">
              {{ answer.description }}
            </Checkbox>
          </div>
        </template>

      </CheckboxGroup>

    </Card>

  </div>
</template>

<script>
  import { Card, CheckboxGroup, Checkbox, Icon } from 'iview'
  import includes from 'lodash/includes'

  export default {
    name: 'question-approval',
    props: ['question', 'disabled'],
    components: {Card, CheckboxGroup, Checkbox, Icon},
    data: function () {
      return {
        selectedAnswers: []
      }
    },
    watch: {
      selectedAnswers: function (newVal, oldVal) {
        this.question.answers.forEach(function (a) { a.selected = includes(newVal, a.id) })
        this.question.valid = newVal.length > 0
      }
    }

  }
</script>

<style>

</style>
