<template>
  <div class="question-fptp">

    <Card :dis-hover="disabled">
      <p slot="title">{{ question.description }}</p>
      <Icon v-show="question.valid" slot="extra" type="checkmark" color="green"></Icon>
      <RadioGroup v-model="selectedAnswer" vertical>
        <template v-for="answer in question.answers" :id="answer.id">
          <Radio :label="answer.id" :disabled="disabled">
            {{ answer.description }}
          </Radio>
        </template>

      </RadioGroup>

    </Card>

  </div>
</template>

<script>
  import { Card, RadioGroup, Radio, Icon } from 'iview'

  export default {
    name: 'question-fptp',
    props: ['question', 'disabled'],
    components: {Card, RadioGroup, Radio, Icon},
    data: function () {
      return {
        selectedAnswer: null
      }
    },
    watch: {
      selectedAnswer: function (newVal, oldVal) {
        this.question.answers.forEach(function (a) { a.selected = (a.id === newVal) })
        this.question.valid = true
      }
    }

  }
</script>

<style>

</style>
