<template>
  <div class="question-ir">

    <Card>
      <p slot="title">{{ question.description }}</p>
      <Icon v-show="question.valid" slot="extra" type="checkmark" color="green"></Icon>

      <table>
        <!--
        <thead>
        <th></th>
        <th v-for="n in question.answers.length">{{n}}</th>
        </thead>
        -->
        <tbody>
        <tr v-for="(answer, i) in question.answers" :key="answer.id"
            :class="{chosen: answer.selected, disabled: disabled}"
            class="answer-row">

          <td class="answer-description">{{ answer.description }}</td>

          <td v-for="n in question.answers.length"
              :class="{active: answer.rank === n, rank_box: true}"
              :key="n + '-' + answer.id"
              @click.prevent="setRank(answer, n)">
            {{n}}
          </td>

        </tr>

        </tbody>
      </table>

    </Card>

  </div>
</template>

<script>
  import { Card, Icon } from 'iview'
  import every from 'lodash/every'

  export default {
    name: 'question-ir',
    props: ['question', 'disabled'],
    components: {Card, Icon},
    data: function () {
      return {}
    },
    methods: {
      setRank: function (answer, n) {
        if (this.disabled) return
        this.question.answers.forEach(function (a) { if (a.rank === n) a.rank = null })
        answer.rank = n
        this.question.valid = every(this.question.answers, a => a.rank !== null)
      }
    }

  }
</script>

<style scoped>

  .answer-row {
    margin-left: 20px;
  }

  .answer-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  .answer-row.disabled:hover {
    cursor: initial;
    background-color: initial;
  }

  .answer-row.chosen {
    color: #0000EE;
    text-decoration: underline;
  }

  .answer-row .answer-description {
    padding: 0 20px 0 0
  }

  .rank_box {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 165, 0, 1);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: orange;
    user-select: none;
  }

  .rank_box:hover {
    background-color: rgba(255, 165, 0, .2);
  }

  .answer-row.disabled .rank_box:hover {
    background-color: rgba(255, 165, 0, 1);
  }

  .rank_box.active {
    background-color: white;
  }

  .answer-row.disabled .rank_box.active:hover {
    background-color: white;
  }

</style>
