<template>
  <Layout class="app-container">
    <Header>
      <nuxt-link to="/">
        <h1 style="color: #f8f8f9">Simple Vote <Icon type="checkmark" style="color: #19be6b"/></h1>
      </nuxt-link>

    </Header>
    <Content>
      <nuxt class="nuxt-container"/>
    </Content>
    <Footer></Footer>
  </Layout>
</template>

<script>
  import startSession from '../middleware/session'
  import { Layout, Header, Content, Footer, Icon } from 'iview'

  export default {
    components: {Layout, Header, Content, Footer, Icon},
    created: function () {
      startSession()
    }
  }
</script>

<style>
  html {
    font-size: 150%;
  }

  h4 {
    margin-bottom: .5em;
  }

  input, select, button {
    font-size: .75em;
  }

  .app-container {
    max-width: 800px;
    margin: 0 auto 0 auto;
  }

  .ivu-layout-content {
    padding: 0 50px;
  }
</style>
