<template>
  <div class="CreateBallot">

    <h2>How many questions?</h2>

    <div class="number-questions-options">
      <RadioGroup v-model="singleQuestionRadio" type="button" :disabled="saving">
        <Radio label="true">Just 1</Radio>
        <Radio label="false">A Bunch</Radio>
      </RadioGroup>
    </div>

    <div v-show="singleQuestion !== null">
      <label>
        <h2 v-show="singleQuestion === true">What is your question?</h2>
        <h2 v-show="singleQuestion === false">What is your ballot called?</h2>
        <Input v-model.trim="name" :disabled="saving"></Input>
      </label>
    </div>


    <div v-show="name !== ''">
      <h2>What is your voting method?</h2>

      <RadioGroup v-model="voteTypeId" type="button" @on-change="setVoteType" :disabled="saving">
        <template v-for="option in this.$store.getters.getVoteTypes">
          <Radio :label="option.id">{{ option.name }}</Radio>
        </template>
      </RadioGroup>
      <Card v-show="voteTypeId !== null" :dis-hover="true">
        {{ voteType.description }}
      </Card>
    </div>

    <br>

    <Alert v-show="errors.length" type="error">
      <ul v-for="error in errors" class="error">
        <li>{{ error }}</li>
      </ul>
    </Alert>

    <Button v-if="voteTypeId !== null" @click="createBallot" type="primary" :loading="saving">
      Create
    </Button>

  </div>
</template>

<script>
  import axios from '~/plugins/axios'
  import moment from 'moment'
  import find from 'lodash/find'
  import { RadioGroup, Radio, Card, Input, Button, Alert } from 'iview'

  export default {
    name: 'create-ballot',
    components: {RadioGroup, Radio, Card, Input, Button, Alert},
    data: function () {
      return {
        name: '',
        voteType: {},
        singleQuestionRadio: null,
        errors: [],
        voteTypeId: null,
        saving: false
      }
    },
    computed: {
      singleQuestion: function () {
        if (this.singleQuestionRadio === null) {
          return null
        } else {
          return this.singleQuestionRadio === 'true'
        }
      }
    },
    methods: {
      createBallot: function () {
        this.errors = []
        if (this.name === '') {
          this.errors.push('Please enter a description')
        }
        if (this.errors.length === 0) {
          this.saving = true
          axios.post('/api/ballots', {
            name: this.name,
            voteType: this.voteType.id,
            openDate: moment(this.openDate, 'YYYY-MM-DD'),
            singleQuestion: this.singleQuestion
          }).then(response => {
            this.$router.push({name: 'ballots-edit-id', params: {id: response.data.editId}})
          }).catch(() => {
            this.errors.push('Failed to create new ballot')
            this.saving = false
          })
        }
      },
      setVoteType: function () {
        this.voteType = find(this.$store.getters.getVoteTypes, vt => vt.id === this.voteTypeId)
      }
    }

  }
</script>

<style>
  ul.error > li {
    color: red;
  }
</style>
