<template>
  <div class="question-edit">

    <Card>
      <p slot="title">{{ question.description }}</p>
      <div @click.prevent="removeQuestion" v-if="!singleQuestion" slot="extra">
        <Icon type="trash-a" color="red" size="20"></Icon>
      </div>


      <div v-for="(answer, i) in question.answers" :id="answer.id" class="answer-row"
           v-on:click.prevent="removeAnswer(answer.id, i)"
      >
        <Icon type="ios-minus" color="red" size="20" v-if="canEdit"></Icon>
        {{ answer.description }}
      </div>


      <div v-if="canEdit">
        <Input v-model="newAnswer" @on-enter="addAnswer(question.id)" type="text" class="new-question">
        <Button
          slot="append"
          icon="plus"
          @click.prevent="addAnswer(question.id)"
          v-bind:disabled="newAnswer.trim().length === 0">
          Add Option
        </Button>
        </Input>
      </div>
    </Card>
    <br>

  </div>
</template>

<script>
  import axios from '~/plugins/axios'
  import { Button, Input, Icon, Timeline, TimelineItem, Card, Row } from 'iview'

  export default {
    name: 'question-edit',
    props: ['question', 'singleQuestion', 'canEdit'],
    components: {Button, Input, Icon, Timeline, TimelineItem, Card, Row},
    data: function () {
      return {
        newAnswer: ''
      }
    },
    methods: {
      addAnswer: async function (questionId) {
        let {data} = await axios.post('/api/answers', {
          questionId: questionId,
          description: this.newAnswer
        })
        this.newAnswer = ''
        this.question.answers.push(data)
      },
      removeAnswer: async function (answerId, index) {
        await axios.delete('/api/answers/' + answerId)
        this.question.answers.splice(index, 1)
      },
      removeQuestion: async function () {
        this.$emit('removeQuestion')
      }
    }

  }
</script>

<style>
  .ivu-icon-trash-a, .ivu-icon-ios-minus {
    cursor: pointer;
  }

  .answer-row:hover {
    background-color: #f8f8f9;
  }
  .answer-row .ivu-icon-ios-minus {
    float: right;
  }

  ul.error > li {
    color: red;
  }
</style>
