<template>
  <div class="result">

    <table border="1" v-if="hasResults">
      <thead>
      <tr>
        <th>Place</th>
        <th>Votes</th>
        <th>Answer</th>
      </tr>
      </thead>
      <tr v-for="(result, i) in results" :id="result.answer.id"
          class="result-row">
        <td> {{ i }} </td>
        <td> {{ result.count }} </td>
        <td> {{ result.answer.description }} </td>
      </tr>
    </table>

    <div v-else>
      No results have been submitted yet.
    </div>

  </div>
</template>

<script>
  import axios from '~/plugins/axios'
  import orderBy from 'lodash/orderBy'

  export default {
    name: 'result',
    props: ['ballot'],
    data: function () {
      return {
        results: []
      }
    },
    created: async function () {
      let {data} = await axios.get('/api/ballots/' + this.ballot.uniqueId + '/results')
      this.results = orderBy(data, 'count', 'desc')
    },
    methods: {},
    computed: {
      hasResults: function () {
        return this.results && this.results.length
      }
    }

  }
</script>

<style>
</style>
