<template>
  <section class="container">
    <p>Simple Vote is the easiest way to make polls. Fill out the questions below to get started.</p>
    <create-ballot></create-ballot>
  </section>
</template>

<script>
import CreateBallot from '~/components/CreateBallot.vue'
import axios from '~/plugins/axios'
import { Button } from 'iview'

export default {
  components: {
    CreateBallot, Button
  },
  head () {
    return {
      title: 'Simple Vote'
    }
  },
  async fetch ({ store, params }) {
    let { data } = await axios.get('api/votetype')
    store.commit('setVoteTypes', data)
  }
}
</script>

<style>
</style>
